# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# Editor
.obsidian/
.idea/
.vscode/
*.swp
*.swo

# Python (scripts)
__pycache__/
*.pyc
.venv/
.env
